# Virtual Environment
venv/

# config file (sensitive data)
config/config.py
config/bot_config.py

# test sessions
*.session
*.session-journal
Admin Bot.session
Admin Bot.session-journal

.DS_Store

.idea/

__pycache__/
*.pyc

downloads/
logs/
tmp/
data/
